.image {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

/* TOP SECTION */
.img-cake {
  background-image: url('assets/card-brownie.jpg');
}

.img-jars {
  background-image: url('assets/card-jar.jpg');
}

.img-squash {
  background-image: url('assets/card-squash.jpg');
}

/* SPECIALITIES */
.img-brownies {
  background-image: url('assets/special-brownie.jpg');
}

.img-cookies {
  background-image: url('assets/special-cookies.jpg');
}

.img-puddings {
  background-image: url('assets/special-puddings.jpg');
}

.img-gifting {
  background-image: url('assets/special-gifting.jpg');
}